.btn {
  @apply inline-block rounded-xl border border-transparent px-5 py-2 font-semibold transition-all duration-200;
}

.btn-sm {
  @apply rounded-lg px-4 py-1.5 text-sm;
}

.btn-primary {
  @apply border-primary bg-primary text-white dark:border-darkmode-primary dark:bg-darkmode-primary dark:text-darkmode-body;
}

.btn-primary:hover {
  @apply opacity-90 shadow-lg;
}

.btn-outline-primary {
  @apply border-primary text-primary bg-transparent dark:border-darkmode-primary dark:text-darkmode-primary;
}

.btn-outline-primary:hover {
  @apply bg-primary text-white dark:bg-darkmode-primary dark:text-darkmode-body shadow-lg;
}
